/* p{
    font-size:32px;
    font-weight: bold;
    font-style: italic;
	text-align: center;
	margin-top: 0.5em;
}

div p{
    font-size:15px;
    font-weight: bold;
    font-style: italic;
	text-align: center;
	margin-top: 0.5em;
} */

#div1{
    width: 400px;
    height: 400px;
    background-color:aqua;
    position: absolute;
    /* border边框样式 */
    border:4px dotted blue;
}

#div2{
    width: 200px;
    height: 200px;
    /* margin-top: 100px;  
    margin-left: 100px; */
    background-color:yellow;   /*背景颜色*/
    position: relative;
    float: left;
    /* border边框样式 */
    border:4px solid black;
}

#div3{
    width: 100px;
    height: 100px;
    /* margin-top: 100px;  
    margin-left: 100px; */
    background-color:green;   /*背景颜色*/

    /* border边框样式 */
    border:4px solid black;
}